<%- include("head") -%>
<% if(typeof message!='undefined'){ %>
    <% if(message==0){ %>
        <div class="alert alert-danger mt-3 bold text-center" role="alert">
            Wrong OTP. Email Could Not Be Verified.
        </div>  
    <% } %>
<% } %>
    
    <div class="container text-center mt-5">
        <form class="" action="/emailVerify" method="post">
            <img class="me-2 border border-dark" style="width:90px;border-radius:50px" src="../images/maxcare.png">
            <p class="big-3 bold mt-2 mb-4">Email Verification</p>
            
            <input class="form input form-control bold" type="email" name="email" placeholder="Enter Your Email" required>
            <input class="form input form-control bold" type="hidden" name="doctorid"  value="<%= doctorid %>" required>
            <p class="mt-3">Please Check your "All Mails" folder for OTP</p>
            
            <button class="btn btn-success mt-4 btn-lg form bold">Send OTP</button>
            
       
            
        </form>
    </div>

<%- include("footer") -%>