<footer class="footer mt-5 pb-5 bg-dark text-light pt-5">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <!-- logo start-->
                    <div class="footer-logo"><a href="">
                        <img style="width:100px;border-radius:50px" src="../images/maxcare.png" alt="MaxCare"></a></div>
                       <p class="big-3 mt-3"> MaxCare Multispeciality Hospital</p>
                    <!-- logo end-->
                    <!-- socials start-->
                    
                    <!-- socials end -->
                    
                    <h4 class="title mt-4 big-3">Quick Links</h4>
                    <ul class="footer-menu">
                        <li><a href="">Our Doctors</a></li>   
                        <li><a href="">Specialities</a></li> 
                        <li><a href="">International Patients Services</a></li> 
                        <li><a href="" target="_blank">Cost of Knee Implants</a></li> 
                        <li><a href="" target="_blank">Prices of Coronary Stents</a></li> 
                        <li><a href="">Check Blood Center Stock</a></li> 
                    </ul>
                    
                </div>
                <div class="col-xl-3 col-md-6">
                    <!-- footer contacts start-->
                    <div class="footer-contacts">
                        <h4 class="title big-3">Our Location</h4>
                        <p class="text-warning">Ahmednagar-Pune Highway</p>
                        <p class="address">MaxCare Multispeciality Hospital, 40, Baker Street, Ahmednagar-411001, Maharashtra, India</p>
                        <p class="e-main">Email: <a href="">info@maxcare.com</a></p>
                    
                    </div>
                    <!-- footer contacts end-->
                </div>
                <div class="col-xl-3 col-md-6">
                    <h4 class="title big-3">Emergency Cases</h4>
                    <p class="text-warning">Operator</p>
                    <p class="phone-number">Phone: <a href="">XXX-XXX-XXX</a></p>
                    <p class="phone-number">Phone: <a href="">XXX-XXX-XXX</a></p>
                    <p class="text-warning mt-3">Emergency</p>
                    <p class="phone-number">Phone: <a href="">XXX-XXX-XXX</a></p>
                    <p class="phone-number">Phone: <a href="">XXX-XXX-XXX</a></p>
                    <p class="text-warning mt-3">Ambulance</p>
                    <p class="phone-number">Phone: <a href="">XXX-XXX-XXX</a></p>
                    <p class="text-warning mt-3">Enquiry</p>
                    <p class="phone-number">Phone: <a href="">XXX-XXX-XXX</a></p>
                </div>
                <div class="col-xl-3 col-md-6">
                    <!-- footer downloads start-->
                    <div class="footer-downloads">
                        <h4 class="title big-3">About MaxCare Multispeciality Hospital</h4>
                        <p>MaxCare, in the past 50 years has set new bench marks for standards in the health care industry.</p>
                    </div>
                    
                    
                    
                    <i class="fab fa-facebook social-icon ms-2"></i>
                    <i class="fab fa-instagram social-icon ms-2"></i>
                    <i class="fab fa-linkedin social-icon ms-2"></i>
                    <i class="fab fa-twitter social-icon ms-2"></i>
                    <i class="fab fa-whatsapp social-icon ms-2"></i>
                  
                           
                        
                    <!-- footer downloads end-->
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">               
        <div class="row">
            <div class="col-12">
                <div class="footer-lower">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="copyright">© 2020-21 MaxCare Health. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <!-- privacy start-->
                            <div class="privacy-block"><a href="">Privacy Policy <span class="separator">|</span> </a><a href="">Term and Conditions <span class="separator">|</span></a> <a href="">Support</a></div>
                            <!-- privacy end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>